h1, h2, h3, h4, h5, h6, p, input, select, textarea,small,a, {
	font-family: 'Andika';
}
h1 {
	font-weight: bold;
	color:  #6c3428;
}
h3 {
	font-weight: bold;
	color:  #6c3428;

}
button h3 {
	text-decoration: none !important;
}
#btnScroll {
	position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0.7;
    text-decoration: none;
}
#btnScroll a {
    text-decoration: none;
}
#btnScroll i.sacola {
    color:  #f6b23b;
}
#btnScroll:hover {
    opacity: 1;
}
#btnScroll a {
	font-size: 50px;
	font-weight: bold;
	color:  #6c3428;
}
#btnScroll .num-pedidos {
	font-size: 14px;
	position: relative;
    top: -25px;
    left: -25px;
}
p {
	text-align: justify;
}
.img-topo {
	width: 100%;
	height: 214px;
	background-color: #fff;
	background: url('/assets/img/img-topo.png');
}
#menu-principal {
	font-family: 'Andika';
	font-size: 18px;
    font-weight: bold;
    border-top: solid 6px #868787;
    border-bottom: solid 6px #868787;
    background-color: #a9a5a4 !important;
}
#menu-principal ul  li a {
	color:  #6c3428;
}
#menu-meu-pedido {
	color: #a01203 !important;
}
.menu-login {
	margin-left: 50px;
}
#logo-menu {
	background-color: #FFF;
	height: 230px;
	width: 264px;
	position: absolute;
	margin-right: 10px;
	border: solid 6px #868787;
	line-height: 232px;
	z-index: 10;
}
.bag-pedido {
	font-size: 24px;
	padding: 0; 
	color: #2c2c2d !important;
}
.num-pedidos {
	font-size: 12px;
	position: relative;
    top: -10px;
    left: -10px;
}
.titulo-cardapio {
	margin-top: 30px;
	margin-bottom: 15px;
}
.lista-produtos {
	margin-top: 10px;
	margin-bottom: 20px;
	min-height: 300px;
}
.produto {
	height: 455px;
	border-radius: 7px;
	border: 1px solid #d1d1d1;
	background: #fff;
	margin-bottom: 15px;
}
.produto .descricao-produto {
	padding: 10px;
}
.produto .descricao-produto h3 {
	font-weight: bold;
	font-size: 18px;
}
.produto .descricao-produto .preco {
	font-weight: bold;
	color:  #6c3428;
	font-size: 22px;
}
.produto img {
	border-radius: 7px;
	width: 100%;
	height: 240px;
	object-fit: cover;
}
footer {
	width: 100%;
	height: 350px;
	background: #2c2c2d;
}
.contato {
	padding-top: 50px;
	font-family: 'Andika';
	font-size: 18px;
	color: #f6b23b;
}
.direitos {
	color: #fff;
	font-family: 'Andika';
}
.produto-principal {
	-webkit-box-shadow: -1px 3px 7px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 3px 7px -2px rgba(0,0,0,0.75);
	box-shadow: -1px 3px 7px -2px rgba(0,0,0,0.75);
}
.produto-principal:hover {
	-webkit-box-shadow: -4px 6px 11px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -4px 6px 11px -2px rgba(0,0,0,0.75);
	box-shadow: -4px 6px 11px -2px rgba(0,0,0,0.75);
}
.sobre {
	margin-top: 100px;
}
#msg-cep {
	display: none;
}
.msg-error-form {
	color: #c0392b;
    font-weight: bold;
    font-size: 12px;
    display: none;
}
.qtd_itens {
	border: 1px solid #ccc;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
}
